---
homeassistant:
  name: Home
  latitude: !secret home_latitude
  longitude: !secret home_longitude
  elevation: !secret home_elevation
  unit_system: us_customary
  time_zone: !secret time_zone

# Configure a default setup of Home Assistant (frontend, api, etc)
default_config:

climate:
  - platform: honeywell
    username: !secret honeywell_username
    password: !secret honeywell_password
    scan_interval: 600

http:
  login_attempts_threshold: 3
  ip_ban_enabled: false

sun:

lovelace:
  mode: yaml

frontend:
  themes: !include themes.yaml

weather:

camera: !include_dir_merge_list camera
recorder: !include recorder.yaml
logger: !include logger.yaml
sensor: !include_dir_merge_list sensor
binary_sensor: !include_dir_merge_list binary_sensor
group: !include_dir_merge_named group
automation: !include_dir_merge_list automation
script: !include_dir_merge_named script
zone: !include_dir_merge_list zone

